.vs/*
AutoBackup/bin/*
AutoBackup/obj/*
.vs/AutoBackup/v16/.suo
.vs/AutoBackup/v16/Server/sqlite3/storage.ide
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/AutoBackup/v16/.suo
.vs/AutoBackup/v16/Server/sqlite3/storage.ide
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
AutoBackup/obj/Debug/AutoBackup.csproj.FileListAbsolute.txt
AutoBackup/obj/Debug/AutoBackup.Model.SettingForm.resources
AutoBackup/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AutoBackup/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/AutoBackup/v16/.suo
.vs/AutoBackup/v16/Server/sqlite3/storage.ide-shm
.vs/AutoBackup/v16/Server/sqlite3/storage.ide-wal
AutoBackup/bin/Debug/AutoBackup.exe
AutoBackup/bin/Debug/AutoBackup.pdb
AutoBackup/obj/Debug/AutoBackup.csproj.GenerateResource.cache
AutoBackup/obj/Debug/AutoBackup.csprojAssemblyReference.cache
AutoBackup/obj/Debug/AutoBackup.exe
AutoBackup/obj/Debug/AutoBackup.pdb
